
.flex-row {
    display: flex;
}

.box {
    height: 100px;
    width: 100px;
    background-color: black;
    border: 1px solid black;
}

/* .box2{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
} */